body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: black;
}

/* HERO */
.hero {
  padding: 30px;
  text-align: center;
  background: linear-gradient(to bottom, #111, #000);
}

/* MENU MOBILE */
.menu {
  padding: 10px;
}

.card {
  display: flex;
  background: #1a1a1a;
  margin: 10px 0;
  border-radius: 15px;
  overflow: hidden;
}

.card img {
  width: 120px;
  object-fit: cover;
}

.card div {
  padding: 10px;
}

button {
  background: gold;
  border: none;
  padding: 8px;
  margin-top: 5px;
  width: 100%;
}

/* BOOKING */
.booking {
  padding: 20px;
  background: #111;
}

input, select {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
}

/* HORAIRES */
.hours, .reviews {
  padding: 20px;
}

/* BOTTOM NAV */
.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.bottom-nav a {
  color: gold;
  font-size: 20px;
  text-decoration: none;
}
